<h1>Activiteit cliënten</h1>



<table class="table">
	<thead class="thead-dark">
    <th>Jaar</th>
	<th>Aantal actieve cliënten</th>
	<th>Aantal nieuwe cliënten</th>
	<th>Aantal verloren cliënten</th>
	<th>Groei aan cliënten</th>
	<th>Aantal facturen</th>
	<th>Transacties/klant/jaar</th>
	<th>Omzet/klant/jaar</th>
	<th>ATF</th>
	<th>Jaaromzet</th>
	
	<% @jaartallen.each do |jaartal| %>
	
	<tr class="table_primary">
	<td><%=jaartal%></td>
	<td><%=@active_client_hash[jaartal]%></td> 
	<td><%=@new_client_hash[jaartal]%></td>
	<td><%=@lost_client_hash[jaartal]%></td>
	<td><%=@client_growth_hash[jaartal]%></td>
	<td><%=@number_of_invoices_hash[jaartal]%></td>
	<td><%=(@number_of_invoices_hash[jaartal].to_f/@active_client_hash[jaartal].to_f).round(2)%></td>
	<td><%=(@total_revenue_hash[jaartal].to_f/@active_client_hash[jaartal].to_f).round(2) %></td>
	<td><%=(@total_revenue_hash[jaartal].to_f/@number_of_invoices_hash[jaartal]).round(2)%>
	<td><%=@total_revenue_hash[jaartal].round(2)%></td>	
</tr>
	<%end%>

</table>	
<% if false%>
<% total_amount = 0 %>
<% @invoice_amounts.sort_by{|e| e[:number]}.each do |invoice|%>

<%= invoice.number %> <%=invoice.amount%>
<% total_amount = total_amount + invoice.amount%>
<%= total_amount%>
</br>
<%end%>
<%end%>



