<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @invoicedetail.date %>
</p>

<p>
  <strong>Vetid:</strong>
  <%= @invoicedetail.vetId %>
</p>

<p>
  <strong>Price:</strong>
  <%= @invoicedetail.price %>
</p>

<p>
  <strong>Vatpercentage:</strong>
  <%= @invoicedetail.vatpercentage %>
</p>

<p>
  <strong>Regminequser:</strong>
  <%= @invoicedetail.regminequser %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoicedetail.quantity %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @invoicedetail.vat %>
</p>

<p>
  <strong>Name:</strong>
  <%= @invoicedetail.name %>
</p>

<%= link_to 'Edit', edit_invoicedetail_path(@invoicedetail) %> |
<%= link_to 'Back', invoicedetails_path %>
